<!DOCTYPE html>
<html lang='{{LANG}}'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='/assets/common_template.css' rel='stylesheet' type='text/css'>
    <title>{{PAGE_TITLE}}</title>
</head>
<body>
    <header>
        <a id='TITLE' href='/'>
            {{MAIN_TITLE}}
        </a>
    </header>
    <nav>
        <div id='nav-tracker'><a href='/'>Home</a></div>
        {{NAV_LINKS}}
    </nav>
    <div class="gap">
        <p>Not Found</p>
    </div>
    <section>
        <p style="font-size: 1.5em;">문서가 이동되었거나 삭제되었습니다.</p>
    </section>
    <footer>
        <p>Copyright&copy; {{COPYRIGHT_YEAR}}. {{COPYRIGHT_HOLDER}}. All rights reserved.</p>
    </footer>
</body>
</html>
